<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>템프 | 기업정보</title>
        <link rel="stylesheet" href="/css/main/company-info.css" />
        <link
            rel="shortcut icon"
            href="https://jumpit.saramin.co.kr/favicon.ico"
            type="image/x-icon"
        />
    </head>
    <body>
        <!-- 헤더 시작 -->
        <!-- // 헤더 끝 -->
        <main class="main" th:object="${companyDTO}">
            <div class="mainWrapper">
                <div class="mainContent">
                    <section class="companyTitle compSection">
                        <h1 th:text="*{companyName}"></h1>
                        <ul class="btns">
                            <li>
                                <button type="button">
                                    <span style="display: flex"
                                        ><span class="sc-85e012ab-0 jmJicB"
                                            ><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                aria-hidden="true"
                                            >
                                                <path
                                                    fill="#222"
                                                    fill-rule="evenodd"
                                                    d="m14.453 6.486-1.015 1.05a2 2 0 0 1-2.877 0l-1.014-1.05a3.137 3.137 0 0 0-4.567 0c-1.307 1.354-1.307 3.577 0 4.93l1.012 1.047L12 18.633l6.005-6.166.006-.006 1.008-1.045A3.55 3.55 0 0 0 20 8.951a3.55 3.55 0 0 0-.98-2.464 3.175 3.175 0 0 0-2.284-.987c-.843 0-1.666.346-2.283.986Zm4.99 7.37-6.01 6.173a2 2 0 0 1-2.866 0l-6.011-6.173-1.014-1.05c-2.056-2.129-2.056-5.58 0-7.709a5.132 5.132 0 0 1 7.049-.37c.136.115.268.239.395.37L12 6.147l1.014-1.05A5.152 5.152 0 0 1 16.736 3.5c1.396 0 2.735.574 3.722 1.597A5.55 5.55 0 0 1 22 8.951a5.55 5.55 0 0 1-1.542 3.855l-1.014 1.05Z"
                                                    clip-rule="evenodd"
                                                ></path>
                                                <path
                                                    fill="#00DD6D"
                                                    fill-rule="evenodd"
                                                    d="M16.736 3.5c1.396 0 2.735.574 3.722 1.597A5.55 5.55 0 0 1 22 8.951a5.55 5.55 0 0 1-1.542 3.855l-1.014 1.05-6.011 6.173a2 2 0 0 1-2.866 0l-6.011-6.173-1.014-1.05c-2.056-2.129-2.056-5.58 0-7.709a5.132 5.132 0 0 1 7.07-.352c.128.11.253.227.373.352L12 6.147l1.014-1.05c.126-.13.258-.254.395-.37l.016-.013a5.152 5.152 0 0 1 3.31-1.214Z"
                                                    clip-rule="evenodd"
                                                ></path>
                                            </svg>
                                            <!-- 좋아요 눌렀을 때 버튼변경 -->
                                            <!-- <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                aria-hidden="true"
                                            >
                                                <path
                                                    fill="#222"
                                                    fill-rule="evenodd"
                                                    d="m14.453 6.486-1.015 1.05a2 2 0 0 1-2.877 0l-1.014-1.05a3.137 3.137 0 0 0-4.567 0c-1.307 1.354-1.307 3.577 0 4.93l1.012 1.047L12 18.633l6.005-6.166.006-.006 1.008-1.045A3.55 3.55 0 0 0 20 8.951a3.55 3.55 0 0 0-.98-2.464 3.175 3.175 0 0 0-2.284-.987c-.843 0-1.666.346-2.283.986Zm4.99 7.37-6.01 6.173a2 2 0 0 1-2.866 0l-6.011-6.173-1.014-1.05c-2.056-2.129-2.056-5.58 0-7.709a5.132 5.132 0 0 1 7.049-.37c.136.115.268.239.395.37L12 6.147l1.014-1.05A5.152 5.152 0 0 1 16.736 3.5c1.396 0 2.735.574 3.722 1.597A5.55 5.55 0 0 1 22 8.951a5.55 5.55 0 0 1-1.542 3.855l-1.014 1.05Z"
                                                    clip-rule="evenodd"
                                                ></path>
                                                <path
                                                    fill="#00DD6D"
                                                    fill-rule="evenodd"
                                                    d="M16.736 3.5c1.396 0 2.735.574 3.722 1.597A5.55 5.55 0 0 1 22 8.951a5.55 5.55 0 0 1-1.542 3.855l-1.014 1.05-6.011 6.173a2 2 0 0 1-2.866 0l-6.011-6.173-1.014-1.05c-2.056-2.129-2.056-5.58 0-7.709a5.132 5.132 0 0 1 7.07-.352c.128.11.253.227.373.352L12 6.147l1.014-1.05c.126-.13.258-.254.395-.37l.016-.013a5.152 5.152 0 0 1 3.31-1.214Z"
                                                    clip-rule="evenodd"
                                                ></path>
                                            </svg> -->
                                            <!-- // 좋아요 눌렀을 때 버튼변경 --> </span
                                        ><span class="blind"
                                            >기업 좋아요</span
                                        ></span
                                    >
                                </button>
                            </li>
                            <li>
                                <button type="button" id="copyUrl">
                                    <span style="display: flex">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill="#222"
                                                fill-rule="evenodd"
                                                d="M17.75 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm-3.5 1.5a3.5 3.5 0 1 1 1.131 2.577L9.686 11.33a3.518 3.518 0 0 1 .045 1.032l5.5 3.207a3.5 3.5 0 1 1-.92 1.779l-5.358-3.125a3.5 3.5 0 1 1-.195-4.666l5.598-3.199a3.505 3.505 0 0 1-.106-.859Zm-8 5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm10 7.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </section>
                    <section id="companyInfo" class="companyInfo compSection">
                        <h2>기업 정보</h2>
                        <div class="more" th:text="|채용중인 포지션 *{programCount}건|">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="12"
                                height="12"
                                fill="none"
                                viewBox="0 0 12 12"
                                aria-hidden="true"
                            >
                                <path
                                    fill="#222"
                                    fill-rule="evenodd"
                                    d="M4.146 1.896a.5.5 0 0 1 .708 0l3.75 3.75a.5.5 0 0 1 0 .708l-3.75 3.75a.5.5 0 0 1-.708-.708L7.543 6 4.146 2.604a.5.5 0 0 1 0-.708Z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </div>
                        <div class="companyWindow">
                            <img
                                alt="레진엔터테인먼트 로고"
                                height="70"
                                width="70"
                                th:src="*{companyLogoPath}"
                            />
                            <dl>
                                <div>
                                    <dt>업력</dt>
                                    <dd>
                                        <strong
                                            >14년차<span
                                                >(2012년 4월 설립)</span
                                            >
                                        </strong>
                                    </dd>
                                </div>
                                <div>
                                    <dt>대표주소</dt>
                                    <dd>
                                        <strong id="copyText"
                                            th:text="*{companyMainAddress}"></strong
                                        >
                                        <div class="compBtns">
                                            <div class="address">
                                                <a class="addressbtn" th:href="|https://m.map.naver.com/search2/search.nhn?query=*{companyMainAddress}#/map|">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="24"
                                                        height="24"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        aria-hidden="true"
                                                        class="map"
                                                    >
                                                        <path
                                                            fill="#222"
                                                            fill-rule="evenodd"
                                                            d="M12.25 2C7.687 2 4 5.725 4 10.304c0 1.488.593 3.18 1.631 4.948 1.048 1.783 2.592 3.719 4.606 5.714a2.87 2.87 0 0 0 4.032.016c2.014-1.97 3.558-3.912 4.604-5.707 1.037-1.779 1.627-3.486 1.627-4.971C20.5 5.724 16.813 2 12.25 2ZM6 10.304C6 6.815 8.805 4 12.25 4s6.25 2.815 6.25 6.304c0 .99-.41 2.342-1.355 3.964-.936 1.607-2.358 3.41-4.275 5.284a.87.87 0 0 1-1.225-.006c-1.925-1.908-3.35-3.709-4.29-5.307C6.409 12.626 6 11.294 6 10.304Zm5-.054a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0ZM12.25 7a3.25 3.25 0 1 0 0 6.5 3.25 3.25 0 0 0 0-6.5Z"
                                                            clip-rule="evenodd"
                                                        ></path>
                                                    </svg>
                                                    지도보기
                                                </a>
                                                <span
                                                    aria-hidden="true"
                                                    class="addressDeco"
                                                    >·</span
                                                >
                                                <button type="button">
                                                    <span style="display: flex">
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            viewBox="0 0 24 24"
                                                            aria-hidden="true"
                                                            class="copy"
                                                        >
                                                            <path
                                                                fill="#222"
                                                                fill-rule="evenodd"
                                                                d="M4.25 5.25a1 1 0 0 1 1-1h6.5a1 1 0 0 1 1 1v.864a1 1 0 1 0 2 0V5.25a3 3 0 0 0-3-3h-6.5a3 3 0 0 0-3 3v6.5a3 3 0 0 0 3 3h.864a1 1 0 1 0 0-2H5.25a1 1 0 0 1-1-1v-6.5Zm8 4a3 3 0 0 0-3 3v6.5a3 3 0 0 0 3 3h6.5a3 3 0 0 0 3-3v-6.5a3 3 0 0 0-3-3h-6.5Zm-1 3a1 1 0 0 1 1-1h6.5a1 1 0 0 1 1 1v6.5a1 1 0 0 1-1 1h-6.5a1 1 0 0 1-1-1v-6.5Z"
                                                                clip-rule="evenodd"
                                                            ></path>
                                                        </svg>
                                                        주소복사
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                                <div>
                                    <dt>주요 서비스</dt>
                                    <dd>
                                        <a href="">
                                            <span>레진코믹스</span>
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                aria-hidden="true"
                                            >
                                                <path
                                                    fill="#222"
                                                    fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 1 0 0 2h3.586l-4.793 4.793a1 1 0 0 0 1.414 1.414L19.5 6.414V10a1 1 0 1 0 2 0V5a2 2 0 0 0-2-2h-5Zm-9 3.5a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V14a1 1 0 1 1 2 0v4.5a3 3 0 0 1-3 3h-11a3 3 0 0 1-3-3v-11a3 3 0 0 1 3-3H10a1 1 0 1 1 0 2H5.5Z"
                                                    clip-rule="evenodd"
                                                ></path>
                                            </svg>
                                        </a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </section>
                    <section
                        id="companyIntroduce"
                        class="companyIntroduce compSection"
                        >
                        <h2>회사 소개</h2>
                        <div class="companyDetail">
                            <pre class="companyDetailText" th:text="*{companyIntroduce}"></pre>
                            <button
                                aria-expanded="false"
                                class="companyDetailButton"
                            >
                                <span class="buttonText">더 보기</span>
                                <svg
                                    class="expandIcon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="none"
                                    viewBox="0 0 16 16"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill="#222"
                                        fill-rule="evenodd"
                                        d="M13.472 5.195c.26.26.26.683 0 .943l-5 5a.667.667 0 0 1-.943 0l-5-5a.667.667 0 1 1 .943-.943L8 9.724l4.529-4.529c.26-.26.682-.26.943 0Z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                                <svg
                                    class="collapseIcon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill="#000"
                                        fill-rule="evenodd"
                                        d="M3.793 16.207a1 1 0 0 1 0-1.414l7.5-7.5a1 1 0 0 1 1.414 0l7.5 7.5a1 1 0 0 1-1.414 1.414L12 9.414l-6.793 6.793a1 1 0 0 1-1.414 0Z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </button>
                            <div class="gradient compnayDetailHide"></div>
                        </div>
                        <div class="companyImages" >
                            <img
                                    th:each="image, iterStat : *{companyImageList}" th:if="${iterStat.index < 3}"
                                th:src="${image.companyImagePath}"
                                height="169"
                                width="202"
                            />
                            <div class="moreContentPc">+ 1</div>
                            <div class="modalWrapper">
                                <div class="moreImageModal">
                                    <span class="modalCloseButton">×</span>
                                    <span class="moduleLeftButton">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="64"
                                            height="64"
                                            fill="none"
                                            viewBox="0 0 64 64"
                                        >
                                            <circle
                                                cx="32"
                                                cy="32"
                                                r="32"
                                                fill="#fff"
                                                opacity="0.9"
                                            ></circle>
                                            <path
                                                stroke="#222"
                                                stroke-width="2"
                                                d="M35.334 21.333 24.667 32l10.667 10.667"
                                            ></path>
                                        </svg>
                                    </span>
                                    <span class="moduleRightButton">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="64"
                                            height="64"
                                            fill="none"
                                            viewBox="0 0 64 64"
                                        >
                                            <circle
                                                cx="32"
                                                cy="32"
                                                r="32"
                                                fill="#fff"
                                                opacity="0.9"
                                            ></circle>
                                            <path
                                                stroke="#222"
                                                stroke-width="2"
                                                d="M28.666 42.667 39.333 32 28.666 21.333"
                                            ></path>
                                        </svg>
                                    </span>
                                    <div class="moduleContent">
                                        <div class="moduleSlide" th:data-images="*{companyImageList.![companyImagePath]}">
                                             <img src="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        id="companyWelfare"
                        class="companyWelfare compSection"
                    >
                        <h2>복지 및 혜택</h2>
                        <pre class="content" th:text="*{companyWelfare}">
                        </pre>
                    </section>
                    <section
                        id="companyEmployee"
                        class="companyEmployee compSection"
                    >
                        <h2>기업 직원 규모</h2>
                        <em class="date">(최근 6개월)</em>
                        <span class="source">출처: 국민연금</span>
                        <div class="info">
                            <span>전체 직원수</span>
                            <strong th:text="|*{companyEmployee}명|"></strong>
                        </div>
                        <div class="employeeGraph">
                            <div>
                                <ul class="graphCompMember">
                                    <li>
                                        <span
                                            class="circle"
                                            style="background-color: #2e37ff"
                                        ></span>
                                        직원 수
                                    </li>
                                    <li>
                                        <span
                                            class="square"
                                            style="background-color: #00dd6d"
                                        ></span>
                                        입사자 수
                                    </li>
                                    <li>
                                        <span
                                            class="square"
                                            style="background-color: #c4c4c4"
                                        ></span>
                                        퇴사자 수
                                    </li>
                                </ul>
                                <canvas
                                    id="companyGraph"
                                    role="img"
                                    height="493"
                                    width="987"
                                    style="
                                        display: block;
                                        box-sizing: border-box;
                                        height: 395px;
                                        width: 790;
                                    "
                                ></canvas>
                            </div>
                        </div>
                    </section>
                    <section
                        id="companySalary"
                        class="companySalary compSection"
                    >
                        <h2>평균 연봉 정보</h2>
                        <span class="source"
                            >출처: 사람인 내부 수집자료 분석</span
                        >
                        <ul class="salaryInfo">
                            <li>
                                <div>
                                    <span>전체</span>
                                </div>
                                <strong class="salary">5,266만원</strong>
                            </li>
                            <li>
                                <div>
                                    <span>신뢰도</span>
                                    <div
                                        class="reliabilityBtn"
                                        aria-pressed="true"
                                        role="button"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            aria-hidden="true"
                                            id="reliabilitySvg1"
                                        >
                                            <path
                                                fill="#C4C4C4"
                                                fill-rule="evenodd"
                                                d="M12 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm10-8c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10ZM12 8.75a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm-1 7.5a1 1 0 1 0 2 0v-5a1 1 0 1 0-2 0v5Z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            aria-hidden="true"
                                            id="reliabilitySvg2"
                                            style="display: none"
                                        >
                                            <path
                                                fill="#222"
                                                fill-rule="evenodd"
                                                d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Zm-9-4.25a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-1 9.5a1 1 0 0 1-1-1v-5a1 1 0 1 1 2 0v5a1 1 0 0 1-1 1Z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                        <span class="blind"
                                            >신뢰도 관련 툴팁</span
                                        >
                                        <div
                                            class="reliabilityInfo layer"
                                            id="companyFinancialTip"
                                        >
                                            <div class="tipTop">
                                                <span
                                                    >연봉정보 신뢰도 기준</span
                                                >
                                                <button class="tipOffButton">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="24"
                                                        height="24"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        aria-hidden="true"
                                                    >
                                                        <path
                                                            fill="#fff"
                                                            fill-rule="evenodd"
                                                            d="m12.072 13.485 7.07 7.071 1.415-1.414-7.071-7.071 7.07-7.07-1.414-1.415-7.07 7.07L5 3.587 3.586 5l7.071 7.071-7.071 7.071L5 20.557l7.072-7.072Z"
                                                            clip-rule="evenodd"
                                                        ></path>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="tipMid">
                                                <p>
                                                    연봉 데이터의
                                                    연령별(20~50세) 분포개수에
                                                    따라 신뢰도 부여
                                                </p>
                                            </div>
                                            <div class="tipBot">
                                                <p>· 매우 높음: 26~31개 구간</p>
                                                <p>· 높음: 16~25개 구간</p>
                                                <p>· 보통: 7~15개 구간</p>
                                                <p>· 낮음: 1~6개 구간</p>
                                                <p>
                                                    · 매우 낮음: 기초데이터*만
                                                    존재
                                                </p>
                                                <p>
                                                    (*기초데이터: 국민연금,
                                                    고용보험, 금감원, 알리오
                                                    정보 등)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <strong class="reliability">높음</strong>
                            </li>
                        </ul>
                        <ul class="salaryDetail">
                            <li>
                                본 자료는 사람인 내부 수집 데이터와 기업의
                                경영공시자료, 공공기관의 공개자료 및 보도자료,
                                기타 자료(국민연금)를 토대로 통계분석하여
                                추정하였습니다. 연봉 데이터 출처 및 성과급,
                                계약직 근로자 급여 등의 포함 여부는 기업별로
                                다를 수 있으며, 실제 기업의 연봉과 차이가 발생할
                                수 있으므로 해당 기업의 정보 및 급여 수준을
                                참고하는 자료로 활용하시기를 권장해 드립니다.
                            </li>
                        </ul>
                    </section>
                    <section
                        id="companyInvestment"
                        class="companyInvestment compSection"
                    >
                        <h2>투자 정보</h2>
                        <ul class="investmentInfo">
                            <li>
                                <div>
                                    <span>최종투자 단계</span>
                                </div>
                                <strong class="phase">Series C</strong>
                            </li>
                            <li>
                                <div>
                                    <span>누적 투자액</span>
                                </div>
                                <strong class="amount">790억 3,000만원</strong>
                            </li>
                            <li>
                                <div>
                                    <span>투자유치 횟수</span>
                                </div>
                                <strong class="count">3회</strong>
                            </li>
                        </ul>
                        <ul class="investmentDetail">
                            <li>
                                • 본 정보는 신뢰할 만한 자료를 직접 수집/분석한
                                추정 정보로, 제공된 정보에 대한 법적인 책임을
                                지지 않습니다.
                            </li>
                            <li>
                                • 기업의 투자 유치 사실을 직접 검증하지 않아
                                정확성을 보장 할 수 없으며, 시간이 경과함에 따라
                                변경될 수 있습니다.
                            </li>
                            <li>
                                • 본 자료의 저작권은 (주)사람인에 있으며 동의
                                없이 재가공 및 재배포할 수 없음을 알려드립니다.
                            </li>
                        </ul>
                    </section>
                    <section
                        id="companyIngPosition"
                        class="companyIngPosition compSection"
                    >
                        <h2>채용중인 포지션</h2>
                        <em class="num" th:text="*{programCount}"></em>
                        <div class="positionWrapper">
                            <div class="currentPositions">
                                <a href="" class="compPosition" th:each="programDTOList : ${programDTOList}">
                                    <label class="positionLeftDate">
                                        <span class="dDayLeft" th:text="|D-${programDTOList.programEndDate}|"></span>
                                    </label>
                                    <h3 class="positionIngTitle" th:text="${programDTOList.programName}">
                                    </h3>
                                    <ul class="skillCategory">
                                        <li class="positionSkill">Java</li>
                                        <li class="positionSkill">
                                            · Android OS
                                        </li>
                                        <li class="positionSkill">· Kotlin</li>
                                    </ul>
                                    <button
                                        aria-label="스크랩"
                                        class="positionScrap"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            class="default"
                                        >
                                            <path
                                                fill="#222"
                                                fill-rule="evenodd"
                                                d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                        <!-- 스크랩이 활성화됐을때 아이콘 -->
                                        <!-- <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                        >
                                            <path
                                                fill="#00DD6D"
                                                fill-rule="evenodd"
                                                d="M6.403 20.825a1 1 0 0 1-1.653-.757V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.068a1 1 0 0 1-1.653.757L12 16l-5.597 4.825Z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg> -->
                                        <!-- // 스크랩이 활성화됐을때 아이콘 -->
                                    </button>
                                </a>

                            </div>
                        </div>
                    </section>
                </div>
                <nav class="sideNavigation" aria-label="기업정보 우측 메뉴">
                    <ul>
                        <li
                            data-target="companyInfo"
                            aria-current="true"
                            class="sectionNav active"
                        >
                            <span>기업 정보</span>
                        </li>
                        <li
                            data-target="companyIntroduce"
                            aria-current="false"
                            class="sectionNav"
                        >
                            <span>회사 소개</span>
                        </li>
                        <li
                            data-target="companyWelfare"
                            aria-current="false"
                            class="sectionNav"
                        >
                            <span>복지 및 혜택</span>
                        </li>
                        <li
                            data-target="companyEmployee"
                            aria-current="false"
                            class="sectionNav"
                        >
                            <span>기업 직원 규모</span>
                        </li>
                        <li
                            data-target="companySalary"
                            aria-current="false"
                            class="sectionNav"
                        >
                            <span>평균 연봉 정보</span>
                        </li>
                        <li
                            data-target="companyInvestment"
                            aria-current="false"
                            class="sectionNav"
                        >
                            <span>투자 정보</span>
                        </li>
                        <li
                            data-target="companyIngPosition"
                            aria-current="false"
                            class="sectionNav"
                        >
                            <span>채용중인 포지션</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
        <!-- 푸터 시작 -->
        <!-- // 푸터 끝 -->
    </body>
    <script src="/js/main/company-info.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>
