<!DOCTYPE html>
<html lang="en">
<!-- 포지션 찾아보기 버튼 = 공고 목록 -->
<!-- 이력서 완성하러가기 버튼 = 지원서 홈 버튼 -->

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/member/mypage-main1.css" data-precedence="next" />
    <link rel="stylesheet" href="/css/member/mypage-main2.css" />
    <link rel="stylesheet" href="/css/member/mypage-main3.css" />
    <title>템프 | 마이페이지</title>
    <link rel="icon" href="/images/member/favicon.ico" />

    </style>
    <style>
        @font-face {
            font-family: Jumpit;
            src: url("/fonts/member/ff840cfebfb63b0c-s.p.woff2");
        }

        * {
            font-family: Jumpit;
        }
    </style>
</head>

<body class="__className_f53396">

    <main class="main-sc0">
        <div>
            <div class="main-wrapper0">
                <div class="main-content1">
                    <div>
                        <h2><a href="/templates/member/account-main.html">마이템프</a>
                        </h2>
                        <div class="mypagemenu-wrapper">
                            <ul class="mypagemenu1">
                                <li class="mypagemenu2">
                                    <a target="_self" href="/templates/member/account-applied.html">입사지원
                                        현황</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/templates/member/account-scraplist.html">스크랩
                                        리스트</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/templates/member/account-payment.html">결제
                                        관리</a>
                                </li>
                                <li class="mypagemenu2-1">
                                    <a target="_self" href="/templates/member/account-info.html">계정
                                        정보 설정</a>
                                </li>
                                <li class="mypagemenu2">
                                    <a target="_self" href="/templates/member/account-withdrawl.html">계정
                                        탈퇴</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content2">
                    <h1>마이템프
                    </h1>
                    <ul class="topbox0">
                        <li class="topbox-content1">
                            <a href="/publishing/templates/member/mypage-applied.html">
                                <dl>
                                    <dt>고민중</dt>
                                    <dd>0</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="topbox-content1">
                            <a href="/publishing/templates/member/mypage-applied.html">
                                <dl>
                                    <dt>지원완료</dt>
                                    <dd>0</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="topbox-content1">
                            <a href="/publishing/templates/member/mypage-applied.html">
                                <dl>
                                    <dt>서류통과</dt>
                                    <dd>0</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="topbox-content1">
                            <a href="/publishing/templates/member/mypage-applied.html">
                                <dl>
                                    <dt>최종합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="topbox-content1">
                            <a href="/publishing/templates/member/mypage-applied.html">
                                <dl>
                                    <dt>불합격</dt>
                                    <dd>0</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                    <a rel="noreferrer" target="_blank" href="/resumes">
                        <div class="main-content4">
                            <span><i></i></span><span></span><span><svg xmlns="http://www.w3.org/2000/svg" width="12"
                                    height="12" fill="none" viewBox="0 0 12 12">
                                    <path fill="#222" fill-rule="evenodd"
                                        d="M4.146 1.896a.5.5 0 0 1 .708 0l3.75 3.75a.5.5 0 0 1 0 .708l-3.75 3.75a.5.5 0 0 1-.708-.708L7.543 6 4.146 2.604a.5.5 0 0 1 0-.708Z"
                                        clip-rule="evenodd">
                                    </path>
                                </svg></span>
                        </div>
                    </a><!--$--><!--/$-->
                    <!-- 여기는 스크랩한 목록이 있을 경우에 -->
                    <div class="mainpage-scraplist">
                        <h1>잊지않으셨죠? 스크랩 리스트</h1><a href="/scraps">전체보기</a>
                    </div>
                    <div class="mainpage-scrapcontent">
                        <div class="main-content5-bottom-box">
                            <a target="_blank"
                                title="AI Research Scientist (Computer Vision and Bioinformatics)_병역특례/전문연구요원 우대 (2~4년)"
                                href="/position/42110">
                                <div class="img-filter">
                                </div>
                                <div class="img-box">
                                    <img alt="아론티어" class="img"
                                        src="https://cdn.jumpit.co.kr/lg/images/jnyoon_106/20253515103518656_567_378.webp">
                                    <div class="d-date">
                                        <span class="d-date-text">D-11</span>
                                    </div>
                                    <div class="counts">
                                        <div class="position-view-count">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                <g fill="none" fill-rule="evenodd">
                                                    <path d="M0 0h16v16H0z">
                                                    </path>
                                                    <g stroke="#FFF" stroke-linecap="round">
                                                        <path
                                                            d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                        </path>
                                                        <path
                                                            d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg><span></span>
                                        </div><button aria-pressed="true" type="button" class="scrap-button"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                                viewBox="0 0 24 24">
                                                <path fill="#00DD6D" fill-rule="evenodd"
                                                    d="M6.403 20.825a1 1 0 0 1-1.653-.757V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.068a1 1 0 0 1-1.653.757L12 16l-5.597 4.825Z"
                                                    clip-rule="evenodd">
                                                </path>
                                            </svg></button>
                                    </div>
                                </div>
                                <div class="content-text">
                                    <div class="content-text1">
                                        <span>아론티어</span>
                                    </div>
                                    <h2 class="position_card_info_title">
                                        AI Research
                                        Scientist
                                        (Computer Vision
                                        and
                                        Bioinformatics)_병역특례/전문연구요원
                                        우대 (2~4년)</h2>
                                    <ul class="content-text2">
                                        <li>AI/인공지능</li>
                                        <li>· PyTorch
                                        </li>
                                        <li>· Linux</li>
                                        <li>· GitHub
                                        </li>
                                        <li>· Python
                                        </li>
                                    </ul>
                                    <ul class="content-text3">
                                        <li>경력 0년</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="main-content5-bottom-box">
                            <a target="_blank"
                               title="AI Research Scientist (Computer Vision and Bioinformatics)_병역특례/전문연구요원 우대 (2~4년)"
                               href="/position/42110">
                                <div class="img-filter">
                                </div>
                                <div class="img-box">
                                    <img alt="아론티어" class="img"
                                         src="https://cdn.jumpit.co.kr/lg/images/jnyoon_106/20253515103518656_567_378.webp">
                                    <div class="d-date">
                                        <span class="d-date-text">D-11</span>
                                    </div>
                                    <div class="counts">
                                        <div class="position-view-count">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                <g fill="none" fill-rule="evenodd">
                                                    <path d="M0 0h16v16H0z">
                                                    </path>
                                                    <g stroke="#FFF" stroke-linecap="round">
                                                        <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                        </path>
                                                        <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg><span></span>
                                        </div><button aria-pressed="true" type="button" class="scrap-button"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                        <path fill="#00DD6D" fill-rule="evenodd"
                                              d="M6.403 20.825a1 1 0 0 1-1.653-.757V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.068a1 1 0 0 1-1.653.757L12 16l-5.597 4.825Z"
                                              clip-rule="evenodd">
                                        </path>
                                    </svg></button>
                                    </div>
                                </div>
                                <div class="content-text">
                                    <div class="content-text1">
                                        <span>아론티어</span>
                                    </div>
                                    <h2 class="position_card_info_title">
                                        AI Research
                                        Scientist
                                        (Computer Vision
                                        and
                                        Bioinformatics)_병역특례/전문연구요원
                                        우대 (2~4년)</h2>
                                    <ul class="content-text2">
                                        <li>AI/인공지능</li>
                                        <li>· PyTorch
                                        </li>
                                        <li>· Linux</li>
                                        <li>· GitHub
                                        </li>
                                        <li>· Python
                                        </li>
                                    </ul>
                                    <ul class="content-text3">
                                        <li>경력 0년</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- 화면에 나타날 영역 -->
                    <!-- 여기부터는 스크랩 리스트가 비어있을 때 -->
                    <div class="main-content5">
                        <h2>스크랩한 포지션이
                            없어요<i>😥</i></h2>
                        <div class="main-content5-top">
                            <div>
                                <p><span>📂</span></p>
                                <p>스크랩한 포지션이 없어요.</p>
                                <p>
                                    관심있는 포지션을 찾아서 스크랩해보세요!
                                </p>
                                <button type="button" class="content-button1 content-button2">
                                    포지션 찾아보기
                                </button>
                            </div>
                        </div>
                        <h2 class="main-content5-bottom-header">
                            <span>이번주 인기
                                포지션</span><a href="/positions?">전체보기</a>
                        </h2>
                        <div class="main-content5-bottom">
                            <div class="main-content5-bottom-box">
                                <a target="_self" title="Java 백엔드 개발자(경력: 5년~15년)" href="/position/39324">
                                    <div class="img-filter">
                                    </div>
                                    <div class="img-box">
                                        <img alt="아파트아이" class="img"
                                            src="https://cdn.jumpit.co.kr/lg/images/jnyoon_106/20251014101040302_567_378.webp" />
                                        <div class="d-date">
                                            <span class="d-date-text">D-7</span>
                                        </div>
                                        <div class="counts">
                                            <div class="position-view-count">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h16v16H0z">
                                                        </path>
                                                        <g stroke="#FFF" stroke-linecap="round">
                                                            <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                            </path>
                                                            <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg><span>539</span>
                                            </div>
                                            <button aria-pressed="false" type="button" class="scrap-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="none" viewBox="0 0 24 24">
                                                    <path fill="#222" fill-rule="evenodd"
                                                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                        clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="content-text1">
                                            <span>아파트아이</span>
                                        </div>
                                        <h2 class="position_card_info_title">
                                            Java 백엔드 개발자(경력:
                                            5년~15년)
                                        </h2>
                                        <ul class="content-text2">
                                            <li>Spring</li>
                                            <li>· JavaScript
                                            </li>
                                            <li>· jQuery
                                            </li>
                                            <li>· Java</li>
                                        </ul>
                                        <ul class="content-text3">
                                            <li>서울 금천구</li>
                                            <li>경력 5~15년
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!--  -->
                            <div class="main-content5-bottom-box">
                                <a target="_self" title="Payment 개발 담당자(JAVA 기반)" href="/position/41047">
                                    <div class="img-filter">
                                    </div>
                                    <div class="img-box">
                                        <img alt="디어유" class="img"
                                            src="https://cdn.jumpit.co.kr/lg/images/dabin_3358/20243708143740292_739_503.webp" />
                                        <div class="d-date">
                                            <span class="d-date-text">D-5</span>
                                        </div>
                                        <div class="counts">
                                            <div class="position-view-count">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h16v16H0z">
                                                        </path>
                                                        <g stroke="#FFF" stroke-linecap="round">
                                                            <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                            </path>
                                                            <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg><span>663</span>
                                            </div>
                                            <button aria-pressed="false" type="button" class="scrap-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="none" viewBox="0 0 24 24">
                                                    <path fill="#222" fill-rule="evenodd"
                                                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                        clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="content-text1">
                                            <span>디어유</span>
                                        </div>
                                        <h2 class="position_card_info_title">
                                            Payment 개발
                                            담당자(JAVA 기반)
                                        </h2>
                                        <ul class="content-text2">
                                            <li>Java</li>
                                            <li>· REST API
                                            </li>
                                            <li>· Spring
                                                Boot</li>
                                            <li>· AWS</li>
                                            <li>· Python
                                            </li>
                                            <li>· MySQL</li>
                                            <li>· NoSql</li>
                                            <li>· Redis</li>
                                            <li>·
                                                Elasticsearch
                                            </li>
                                            <li>· Cassandra
                                            </li>
                                        </ul>
                                        <ul class="content-text3">
                                            <li>서울 강남구</li>
                                            <li>경력 3~7년</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!--  -->
                            <div class="main-content5-bottom-box">
                                <a target="_self" title="Back-End Engineer" href="/position/41440">
                                    <div class="img-filter">
                                    </div>
                                    <div class="img-box">
                                        <img alt="불마켓랩스(BullMarketLabsCo.Ltd.)" class="img"
                                            src="https://cdn.jumpit.co.kr/lg/images/210217/20240829110802451_1080_790.webp" />
                                        <div class="d-date">
                                            <span class="d-date-text">D-8</span>
                                        </div>
                                        <div class="counts">
                                            <div class="position-view-count">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h16v16H0z">
                                                        </path>
                                                        <g stroke="#FFF" stroke-linecap="round">
                                                            <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                            </path>
                                                            <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg><span>259</span>
                                            </div>
                                            <button aria-pressed="false" type="button" class="scrap-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="none" viewBox="0 0 24 24">
                                                    <path fill="#222" fill-rule="evenodd"
                                                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                        clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="content-text1">
                                            <span>불마켓랩스(BullMarketLabsCo.Ltd.)</span>
                                        </div>
                                        <h2 class="position_card_info_title">
                                            Back-End
                                            Engineer
                                        </h2>
                                        <ul class="content-text2">
                                            <li>Kotlin</li>
                                            <li>· Spring
                                                Boot</li>
                                            <li>· Go</li>
                                            <li>· Python
                                            </li>
                                            <li>· Java</li>
                                            <li>· MySQL</li>
                                            <li>· Apache
                                                RocketMQ
                                            </li>
                                            <li>· Kubernetes
                                            </li>
                                            <li>· Rust</li>
                                            <li>· Kafka</li>
                                        </ul>
                                        <ul class="content-text3">
                                            <li>서울 강남구</li>
                                            <li>경력 7~10년
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!--  -->
                            <div class="main-content5-bottom-box">
                                <a target="_self" title="Java개발자 (Cloud Native) (경력 3년~5년)" href="/position/41480">
                                    <div class="img-filter">
                                    </div>
                                    <div class="img-box">
                                        <img alt="엠로" class="img"
                                            src="https://cdn.jumpit.co.kr/lg/images/dabin_3358/20255820135810672_1500_1000.webp" />
                                        <div class="d-date">
                                            <span class="d-date-text">D-7</span>
                                        </div>
                                        <div class="counts">
                                            <div class="position-view-count">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h16v16H0z">
                                                        </path>
                                                        <g stroke="#FFF" stroke-linecap="round">
                                                            <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                            </path>
                                                            <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg><span>488</span>
                                            </div>
                                            <button aria-pressed="false" type="button" class="scrap-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="none" viewBox="0 0 24 24">
                                                    <path fill="#222" fill-rule="evenodd"
                                                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                        clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="content-text1">
                                            <span>엠로</span>
                                        </div>
                                        <h2 class="position_card_info_title">
                                            Java개발자 (Cloud
                                            Native) (경력
                                            3년~5년)
                                        </h2>
                                        <ul class="content-text2">
                                            <li>AWS</li>
                                            <li>· AZURE</li>
                                            <li>· Java</li>
                                            <li>· JavaScript
                                            </li>
                                            <li>· Oracle
                                            </li>
                                        </ul>
                                        <ul class="content-text3">
                                            <li>서울 영등포구</li>
                                            <li>경력 3~5년</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!--  -->
                            <div class="main-content5-bottom-box">
                                <a target="_self" title="Game Programmer 경력 채용" href="/position/41539">
                                    <div class="img-filter">
                                    </div>
                                    <div class="img-box">
                                        <img alt="퍼즐원스튜디오" class="img"
                                            src="https://cdn.jumpit.co.kr/lg/images/support_5470/20214418134424796_1652_1232.webp" />
                                        <div class="d-date">
                                            <span class="d-date-text">D-8</span>
                                        </div>
                                        <div class="counts">
                                            <div class="position-view-count">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h16v16H0z">
                                                        </path>
                                                        <g stroke="#FFF" stroke-linecap="round">
                                                            <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                            </path>
                                                            <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg><span>272</span>
                                            </div>
                                            <button aria-pressed="false" type="button" class="scrap-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="none" viewBox="0 0 24 24">
                                                    <path fill="#222" fill-rule="evenodd"
                                                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                        clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="content-text1">
                                            <span>퍼즐원스튜디오</span>
                                        </div>
                                        <h2 class="position_card_info_title">
                                            Game Programmer
                                            경력 채용
                                        </h2>
                                        <ul class="content-text2">
                                            <li>Unity</li>
                                            <li>· iOS</li>
                                            <li>· Android OS
                                            </li>
                                            <li>· Google
                                                Drive</li>
                                            <li>· Slack</li>
                                            <li>· Jenkins
                                            </li>
                                            <li>· Git</li>
                                            <li>· C#</li>
                                        </ul>
                                        <ul class="content-text3">
                                            <li>경기 성남시</li>
                                            <li>경력 5~10년
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!--  -->
                            <div class="main-content5-bottom-box">
                                <a target="_self" title="백엔드 엔지니어(3년 이상)" href="/position/41618">
                                    <div class="img-filter">
                                    </div>
                                    <div class="img-box">
                                        <img alt="레플리" class="img"
                                            src="https://cdn.jumpit.co.kr/lg/images/jnyoon_106/20252915102949724_567_378.webp" />
                                        <div class="d-date">
                                            <span class="d-date-text">D-12</span>
                                        </div>
                                        <div class="counts">
                                            <div class="position-view-count">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h16v16H0z">
                                                        </path>
                                                        <g stroke="#FFF" stroke-linecap="round">
                                                            <path
                                                                d="M8 10c.86 0 1.556-.672 1.556-1.5S8.859 7 8 7c-.86 0-1.556.672-1.556 1.5S7.141 10 8 10z">
                                                            </path>
                                                            <path
                                                                d="M15 8.5c-1.469 2.243-4.108 4.5-7 4.5-2.892 0-5.531-2.257-7-4.5C2.788 6.369 4.882 4 8 4s5.212 2.369 7 4.5z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg><span>372</span>
                                            </div>
                                            <button aria-pressed="false" type="button" class="scrap-button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="none" viewBox="0 0 24 24">
                                                    <path fill="#222" fill-rule="evenodd"
                                                        d="M10.725 14.71a2 2 0 0 1 2.55 0l3.975 3.289V5H6.75v12.999l3.975-3.29ZM4.75 20.123V5a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v15.124a1 1 0 0 1-1.638.77L12 16.25l-5.612 4.645a1 1 0 0 1-1.638-.77Z"
                                                        clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="content-text1">
                                            <span>레플리</span>
                                        </div>
                                        <h2 class="position_card_info_title">
                                            백엔드 엔지니어(3년 이상)
                                        </h2>
                                        <ul class="content-text2">
                                            <li>Kotlin</li>
                                            <li>· Spring
                                            </li>
                                            <li>· Golang
                                            </li>
                                        </ul>
                                        <ul class="content-text3">
                                            <li>서울 종로구</li>
                                            <li>경력 3~10년
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 화면에 나타날 영역 -->
                </div>
            </div>
        </div>
    </main>
    <div id="modal"></div>

</body>
<script src="/js/member/mypage-all.js"></script>

</html>