<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.temp.mapper.CompanyMapper">
    <insert id="insert">
        INSERT INTO TBL_COMPANY (ID, COMPANY_BUSINESS_NUMBER, COMPANY_CERTIFICATE_PATH, COMPANY_NAME,
                                 COMPANY_CEO, COMPANY_MAIN_ADDRESS, COMPANY_SUB_ADDRESS)
        VALUES (SEQ_COMPANY.NEXTVAL, #{companyBusinessNumber}, 'N/A', #{companyName},
                #{companyCEO}, #{companyMainAddress}, #{companySubAddress})
    </insert>
    <select id="selectByCompanyBusinessNumber" resultType="companyDTO">
        SELECT * FROM TBL_COMPANY WHERE COMPANY_BUSINESS_NUMBER = #{companyBusinessNumber}
    </select>
    <select id="selectById" resultType="companyDTO">
        SELECT * FROM TBL_COMPANY WHERE ID = #{id}
    </select>
    <select id="selectAllAdmin" resultType="companyMemberAdminListDTO">
        SELECT M.ID, C.COMPANY_NAME, C.COMPANY_BUSINESS_NUMBER, M.MEMBER_NAME, M.MEMBER_EMAIL, M.MEMBER_REGISTER_DATE, M.MEMBER_RECENT_LOGIN, M.MEMBER_STATUS
        FROM TBL_COMPANY_MEMBER CM
                 JOIN TBL_MEMBER M
                      ON CM.ID = M.ID
                 JOIN TBL_COMPANY C
                      ON C.ID = CM.COMPANY_ID
        WHERE M.MEMBER_CLASS='기업'
    </select>

    <select id="selectMemberInfoAdmin" resultType="companyMemberInfoAdminDTO">
        SELECT M.ID, C.ID AS COMPANY_ID, C.COMPANY_NAME, C.COMPANY_BUSINESS_NUMBER, TO_CHAR(C.COMPANY_ESTABLISHMENT, 'YYYY') YEAR, TO_CHAR(C.COMPANY_ESTABLISHMENT, 'MM') MONTH,
               CEIL((SYSDATE-TO_DATE(COMPANY_ESTABLISHMENT))/365) DURATION, C.COMPANY_EMPLOYEE, C.COMPANY_MAIN_ADDRESS, C.COMPANY_LOGO_PATH, C.COMPANY_URL, C.COMPANY_CERTIFICATE_PATH,
               C.COMPANY_INTRODUCE, C.COMPANY_WELFARE, C.COMPANY_CULTURE, C.COMPANY_CEO ,CM.COMPANY_MEMBER_DEPARTMENT, CM.COMPANY_MEMBER_POSITION,
               M.MEMBER_RECENT_LOGIN, M.MEMBER_REGISTER_DATE, M.MEMBER_NAME, M.MEMBER_PHONE, M.MEMBER_EMAIL, M.MEMBER_STATUS
        FROM TBL_COMPANY C
                 JOIN TBL_COMPANY_MEMBER CM
                      ON CM.COMPANY_ID = C.ID
                 JOIN TBL_MEMBER M
                      ON M.ID = CM.ID
        WHERE M.ID = #{id} AND M.MEMBER_CLASS='기업'
    </select>

    <update id="update">
        UPDATE TBL_MEMBER
        SET MEMBER_STATUS = #{memberStatus}
        WHERE ID = #{id}
    </update>

</mapper>