<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.temp.mapper.MemberInquiryMapper">
    <insert id="insertMemberInquiry">
        INSERT INTO TBL_MEMBER_INQUIRY(ID, MEMBER_INQUIRY_TYPE, MEMBER_INQUIRY_DETAIL, MEMBER_INQUIRY_STATUS, MEMBER_ID)
        VALUES(SEQ_MEMBER_INQUIRY.NEXTVAL, #{memberInquiryType}, #{memberInquiryDetail}, #{memberInquiryStatus}, #{memberId})
    </insert>

    <!-- 관리자용 -->
<select id="selectAll" resultType="memberInquiryDTO">
SELECT ID, MEMBER_INQUIRY_TYPE, MEMBER_NAME, MEMBER_EMAIL, TO_CHAR(CREATED_DATE, 'YYYY-MM-DD') AS CREATED_DATE,
       MEMBER_INQUIRY_STATUS, MEMBER_INQUIRY_DETAIL
    FROM
        (
            SELECT ID, ROWNUM R, MEMBER_INQUIRY_TYPE, MEMBER_NAME, MEMBER_EMAIL, CREATED_DATE, MEMBER_INQUIRY_STATUS, MEMBER_INQUIRY_DETAIL
                FROM
                (
            SELECT MI.ID, MEMBER_INQUIRY_TYPE, MEMBER_NAME, MEMBER_EMAIL, MI.CREATED_DATE, MEMBER_INQUIRY_STATUS, MEMBER_INQUIRY_DETAIL
           FROM TBL_MEMBER_INQUIRY MI JOIN TBL_MEMBER M
            ON MI.MEMBER_ID = M.ID
        WHERE M.ID IS NOT NULL
    <if test="status != 'all' and status != null">
         AND MEMBER_INQUIRY_STATUS = #{status}
    </if>
    <if test="normalInquiryKeyword != null">
        AND MEMBER_NAME LIKE '%' || #{normalInquiryKeyword} || '%'
    </if>
    <if test="date != 0 and date != 1">
        AND CEIL(SYSDATE - TO_DATE(MI.CREATED_DATE)) <![CDATA[ <= #{date}]]>
    </if>
    ORDER BY ID DESC
           )
    <![CDATA[
        WHERE ROWNUM <= ${endRow}
        ]]>
    )
    <![CDATA[
        WHERE R >= ${startRow}
        ]]>
</select>
<select id="selectById" resultType="memberInquiryInfoDTO">
    SELECT MI.ID, MI.MEMBER_INQUIRY_TYPE, M.MEMBER_NAME, M.MEMBER_EMAIL, MI.CREATED_DATE, MI.MEMBER_INQUIRY_STATUS, MI.MEMBER_INQUIRY_DETAIL
    FROM TBL_MEMBER_INQUIRY MI JOIN TBL_MEMBER M
    ON MI.MEMBER_ID = M.ID
    WHERE MI.ID = #{id}
</select>

    <update id="update">
        UPDATE TBL_MEMBER_INQUIRY
        SET MEMBER_INQUIRY_STATUS = #{memberInquiryStatus}
        WHERE ID = #{id}
    </update>

<select id="countAll" resultType="_int">
    SELECT COUNT(*)
    FROM
        (
    SELECT ID, MEMBER_INQUIRY_TYPE, MEMBER_NAME, MEMBER_EMAIL, CREATED_DATE, MEMBER_INQUIRY_STATUS, MEMBER_INQUIRY_DETAIL, MEMBER_RECENT_LOGIN
    FROM
    (
    SELECT ID, ROWNUM R, MEMBER_INQUIRY_TYPE, MEMBER_NAME, MEMBER_EMAIL,
           TO_CHAR(CREATED_DATE, 'YYYY-MM-DD') AS CREATED_DATE, MEMBER_INQUIRY_STATUS, MEMBER_INQUIRY_DETAIL, TO_CHAR(MEMBER_RECENT_LOGIN, 'YYYY-MM-DD') AS MEMBER_RECENT_LOGIN
    FROM
    (
    SELECT MI.ID, MEMBER_INQUIRY_TYPE, MEMBER_NAME, MEMBER_EMAIL, MI.CREATED_DATE, MEMBER_INQUIRY_STATUS, MEMBER_INQUIRY_DETAIL, M.MEMBER_RECENT_LOGIN
    FROM TBL_MEMBER_INQUIRY MI JOIN TBL_MEMBER M
    ON MI.MEMBER_ID = M.ID
    WHERE M.ID IS NOT NULL
    <if test="status != 'all' and status != null">
        AND MEMBER_INQUIRY_TYPE = #{status}
    </if>
    <if test="normalInquiryKeyword != null">
        AND MEMBER_NAME LIKE '%' || #{normalInquiryKeyword} || '%'
    </if>
    <if test="date != 0 and date != 1">
        AND CEIL(SYSDATE - TO_DATE(MEMBER_RECENT_LOGIN)) <![CDATA[ <= #{date}]]>
    </if>
    ORDER BY ID DESC
    )
    <![CDATA[
        WHERE ROWNUM <= ${endRow}
        ]]>
    )
    <![CDATA[
        WHERE R >= ${startRow}
        ]]>
        )

</select>


</mapper>